body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(38, 46, 77) 0%,
    rgb(11, 52, 66) 69%,
    rgb(14, 74, 77) 89%
  ) !important;
}

.react-calendar{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(34 36 38,.15);
}

.react-datepicker-wrapper{
  width: 100%;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(38, 46, 77) 0%,
          rgb(11, 52, 66) 69%,
          rgb(14, 74, 77) 89%
        ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
